@font-face {
  font-family: 'Raleway';
  src: url(./fonts/Raleway-Light.ttf) format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url(./fonts/Raleway-Regular.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url(./fonts/Raleway-Medium.ttf) format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url(./fonts/Raleway-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url(./fonts/Raleway-Bold.ttf) format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/Montserrat-Light.ttf) format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/Montserrat-Regular.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/Montserrat-Medium.ttf) format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/Montserrat-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/Montserrat-Bold.ttf) format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@keyframes wave {
  from {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: .7;
  }
}

$light: #e8eced;
$dark: #343647;
$darker: #252735;
$primary: #fbc15a;

$body: 'Montserrat', sans-serif;
$head: 'Raleway', sans-serif;