.dev {
  display: grid;
  .wave {
    position: relative;
    width: 128px;
    margin: auto;
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%) scale(1);
      border-radius: 50%;
      opacity: 0;
    }
    &::before {
      border: 2px solid $primary;
      animation: wave 2s 2.5s ease-in-out alternate infinite;
    }
    &::after {
      border: 1px solid $primary;
      animation: wave 3s 2.7s ease-in-out alternate infinite;
    }
    img {
      border-radius: 50%;
      width: 100%;
      height: auto;
    }
  }
  .name {
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    color: $light;
    margin-top: 1rem;
    .given {
      font-family: $head;
      font-size: 1.8rem;
      margin-right: .3rem;
    }
    .family {
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}